@font-face {
    font-family: 'Maxime';
    src: url('Maxime\ Std\ Bold.otf');
    font-weight: bold;
    font-style: bold;
}


* {
    margin: 0;
    padding: 0;
   
}

header {
    background-color: #ffffff;
    color: #fff;
    position: fixed;
    font-size: 24px;
    width: 100%;
    padding-bottom: -30px;
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    
   
}
header h1{  
    margin-left: 150px;
    font-size: 2.5em;
    color: #604D70;
    text-transform: uppercase;
   
   
}

header img {
    width: 230px;
    height: 230px;
    
    margin-left: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-color: rgb(240, 240, 240);
}